[2016-12-02 09:08] m-kuhn opened #1 "Unified add layer dialog"
Missing functionality should be put in the browser, the individual buttons removed.

[2016-12-02 09:15] nyalldawson opened #2 "Fix non-standard widgets"
Qgis has some really nice dedicated widgets like the layer, field and projection pickers, but they aren't used everywhere.

It would be good if someone can sweep through all the dialogs and look for:

- custom field or layer pickers. The easiest way to identify these is if they are missing the layer/field type icons.

- non standard projection picker. The proper one should be the widget with the c

[2016-12-02 09:44] DelazJ opened #3 "Show shortcut to activate panels and toolbars"
In View --> Panels (or Toolbars?) it could be nice to append item name with its shortcut (if available). Only the processing toolbox one is provided.
Note that this should be shown also when right-clicking on a panel header to list all panels and toolbars.

[2016-12-02 09:47] DelazJ commented on #1
In this case, browser should also be activated by default (and even be the default panel shown to the user when QGIS is opened)

[2016-12-02 09:49] m-kuhn commented on #1
And a single and easy to locate "add layer" button be shown to bring the browser to the front.

[2016-12-02 09:50] DelazJ commented on #2
@nyalldawson could you please precise with some images (or link to the icons?). I fail to visualize what you are talking about.

[2016-12-02 10:33] SrNetoChan opened #4 "testing issue"

[2016-12-02 10:40] SrNetoChan commented on #1
The browser can "waste" too much space when you are not using it, but at the same time be too small to work with... I'm with @m-kuhn, we need a button either to toggle it on and off, or to open it in front of QGIS's main window.

[2016-12-02 10:40] #4 closed, assigned to nobody

[2016-12-02 11:00] DelazJ opened #5 "Standardize classification"
In layer properties --> Style, you have different structures of the frame that displays the classification:
* Categorized and graduated symbologies provide you with symbol, Value and Legend columns
* Rule-based  symbology propose label and Rule columns

It could be nice to:
* Move the label column at the right (as the legend one is). With the layer styling panel, when you are used to simple symbol

[2016-12-02 11:25] DelazJ opened #6 ""No labels" dialog should be less crowded"
Using the "No symbols" symbology, the dialog displays "No symbols will be rendered for features in this layer". But the "No labels" labeling option still shows all (greyed though) the labeling options.
It could be nice to only show "No labels will be rendered for features in this layer".

Note that there's an issue report at http://hub.qgis.org/issues/15902 regarding the UI of the "no labels" opti

[2016-12-02 11:44] SrNetoChan opened #7 "In CRS Selector, the Authority column is too big"
In CRS Selector, the AUTHORITY ID column is too big, if make smaller would give more space to the CRS name and reduce the need for horizontal scrolling bar.

![screenshot from 2016-12-02 11-39-27](https://cloud.githubusercontent.com/assets/3607161/20832867/9d1f01fe-b884-11e6-9e39-0c970a095f82.png)

[2016-12-02 12:06] DelazJ opened #8 "Enable multiline capabilities for widget that display expression"
Expressions can be written, using multilines and comments. But once, the dialog is validated, it's rendered in a single line widget, making it less readable (eg, "Label with", "quick field calculator" in attribute table...). You need to reopen the Expression dialog to see the whole formula.

Having the ability to extend the widget to show the whole expression could be handy.

PS: some comments at

[2016-12-02 12:56] DelazJ commented on #8
PS2: I haven't (consciously) noticed it until now but hovering over the widget shows full expression. So I'm no longer sure it's worth the enlargement (except, maybe to ease expression edit?)

[2016-12-02 14:03] haubourg opened #9 "Improve "Bad layer" dialog and behaviour"
The idea is to keep layers in qgis even if they have a worng datasource, and be able to update it afterwards.
That way a user can still edit a project without deleting unhandled layers

[2016-12-02 14:51] anitagraser opened #10 "Add full layer control to composer"
It would be convenient to have direct control over each map item's layers and be able to remove / add layers from a map item.

As discussed on https://twitter.com/madmanwoo/status/804695847384399872

[2016-12-02 14:59] ponceta commented on #10
This is almost possible if you work on two screens or split screen but you will modify your qgis project styles and rendering order which is not what you want.

![image](https://cloud.githubusercontent.com/assets/8614223/20838192/b9396b90-b8a7-11e6-8914-c4efb3a26fb2.png)

What could be great would be to have these tools available for each map canvas in the composer :)

And settings would apply to

[2016-12-02 16:43] SrNetoChan commented on #9
I believe this could be an option in the Dialog, something like a "keep bad layers". But for that, we would probably need to implement a way of having "ghost" layers, because this layers should not be visible or used in any other widgets.

Another idea would be to, once the user fix a one of the layers, QGIS try to find and fix similar (in the same path layers).

[2016-12-02 23:46] SrNetoChan opened #11 "Dialogs quality problems and consistency: standardize commands description"
Throughout QGIS, dialogs have quality problems. It would be nice if someone could check all dialogs for the following problems:

- Use of "Browse", "Select", "Choose" and other options to open the filesystem browser to select one or more files.
- "Add saved file to map", "Load into canvas when finished", "Open output file after running algorithm"

[2016-12-02 23:50] SrNetoChan commented on #11
I would propose to use always "Browse" for file navigations button
And something generic like "Load in canvas when finished" or "Load results in canvas"

[2016-12-03 08:04] DelazJ opened #12 "Dialogs quality issues: replace png icons by svg ones"
Throughout QGIS, dialogs have quality problems. It would be nice if someone could check all dialogs for the following problem: **Check through and delete unused png icons**.

A lot of the old png icons have been replaced with proper svg versions, but the pngs are still included and in some cases they are incorrectly used instead of the svg replacements.

Identifying these would be a matter of goin

[2016-12-03 08:09] DelazJ commented on #12
Note that in some cases, a svg icon exists but do not have same name, e.g. [mActionRefresh](https://github.com/qgis/QGIS/blob/master/images/themes/default/mActionRefresh.png) vs [mActionDraw](https://github.com/qgis/QGIS/blob/master/images/themes/default/mActionDraw.svg)

[2016-12-03 08:33] DelazJ commented on #11
Another string used for file navigation button is "..." And I wonder (didn't check right now) if we do not have cases with simply an icon...

[2016-12-03 09:26] pcav commented on #11
Why not always an icon?

[2016-12-03 09:27] pcav commented on #12
Love these clean-ups, thanks a lot.

[2016-12-03 10:25] DelazJ commented on #11
@SrNetoChan to ease discussion on the items, I split in 3 the current Pr.

[2016-12-03 10:25] DelazJ opened #13 "Dialogs quality problems and consistency: clean strings, title and tooltips"
Throughout QGIS, dialogs have quality problems. It would be nice if someone could check all dialogs for the following problems:
- [  ] dialogs which violate conventions:
  - [  ] use of ":" at the end of strings
  - [  ]  bad tab order
  - [  ] group boxes with just one widget

- [  ] bad/inconsistent capitalisation in strings, dialog titles, and tooltips
- [  ] widgets without tooltips (or non he

[2016-12-03 10:26] DelazJ opened #14 "Dialogs quality problems and consistency : replace "non standard" icons"
Throughout QGIS, dialogs have quality problems. It would be nice if someone could check all dialogs for the following problems: **replacing "non standard" icons**. We still have some inconsitently
used icons (such as the expression builder icon) used throughout qgis.

List of icons (to be completed):
- expression builder
- ...

[2016-12-03 10:45] DelazJ commented on #13
Some rules available at http://qgis.org/en/site/getinvolved/development/qgisdevelopersguide/hig.html
Maybe they would need to be completed (not forget tab order, tooltip...)

[2016-12-03 11:11] DelazJ opened #15 "Status of context help"
Many dialogs have a help button to show a context help which hasn't been updated for a while, although the dialog has evolved with new/removed features.
It might be nice to get rid of those useless buttons or rethink a way to link them to a doc repo. Some on-going (or pending?) discussions around this:
-  [QEP 32: Generic Helping System for QGIS](https://github.com/qgis/QGIS-Enhancement-Proposals/

[2016-12-04 02:46] SrNetoChan commented on #15
This is a major UX fail. I would say that the built-in help as it is, is useless. Therefore, to start, we should replace it by links to online documentation. We might have some problems with this because normally the documentations is not released at the same pace as QGIS itself. We need a strategy to point to the latest available documentation if the current QGIS version is not available. If poss

[2016-12-04 02:49] SrNetoChan commented on #11
@pcav not sure the icon, for this particular purpose, is a very common choice. Can't imagine a icon for it.

[2016-12-04 02:55] SrNetoChan commented on #12
@nyalldawson, a fast search showed me lots of different folders with PNG files. Can you tell me which are the ones we should care about? For example, the tests folder have lot's of PNGs but I think they are not a problem.

[2016-12-04 02:56] SrNetoChan commented on #12
@pcav These are just ideas, someone will have to pick them up and fix it :-)

[2016-12-04 04:40] nyalldawson commented on #12
@SrNetoChan

https://github.com/qgis/QGIS/tree/master/images/themes/default

And subfolders

[2016-12-04 06:33] pcav commented on #11
You're probably right.

[2016-12-04 08:23] SrNetoChan commented on #12
Is there a validade reason to keep old themes? Thanks

[2016-12-04 09:27] DelazJ commented on #15
I'd say that doc checking should be first local and if that fails, online. It shouldn't be related to connectivity availability. Connectivity might be there but slow or expensive. Once the person has opted for a local doc (meaning that there is an option to choose to download doc or use online one), there's no reason to go and use the online one. It could also be proposed (or silently done) with d

[2016-12-04 18:00] SrNetoChan commented on #12
@nyalldawson Sorry to bother, again. I'm looking into this. Got a list with all existing PNG files, now what folders should search? src only? If I remember I can ignore qrc files, right? Thanks

[2016-12-04 18:21] DelazJ commented on #12
@SrNetoChan Begin with the ui files in https://github.com/qgis/QGIS/tree/master/src/ui: the idea is to replace any link to png file by its vectorized version (svg) if available.

I think it's also time, if we don't delete them (old themes and not used icons) yet, at least move them outside this folder to an archive folder

[2016-12-04 18:55] SrNetoChan commented on #12
@DelazJ AFAIK, there are other ways to use icons without they be in UI files, that's why I asked.

[2016-12-04 19:13] DelazJ opened #16 "Clean the vocabulary: what is "style"?"
This is about the the use of the word "style" in QGIS. There was "Style" tab in the layer properties, now replaced by "Symbology". But we still have:
- Style (for a layer) which saves most of the layer properties
- Layer Styling panel to set the layer rendering in the project
- The Style manager which _currently_ creates and manages symbols and color ramps.
I have nothing to propose yet but maybe

[2016-12-04 20:12] nyalldawson commented on #12
@SrNetoChan

You'll need to check the src folder (including the src/ui and src/plugins subfolders), and python/plugins and all subfolders.

[2016-12-05 06:26] pcav commented on #15
IMHO we really have to fix this for QGIS3.
Thanks for raising the issue.

[2016-12-05 15:18] SrNetoChan commented on #16
Good one!

[2016-12-05 22:19] DelazJ opened #17 "Print composer: adding a legend should add only visible layers"
In the print composer, currently when you add a legend, it shows ALL the layers in the project instead of simply those visible in the map item. This obliges the user to clean the legend before using it. Not very user-friendly, particularly when you have a big project.
This has been reported and discussed as [issue in the hub](http://hub.qgis.org/issues/13575) but given that it looks like a big UX

[2016-12-06 09:59] alexbruy commented on #15
This related not only for context help, but for help system in general. For example we want to provide users with Processing algs help (both native and 3rd party), GRASS plugin also may want to display module help etc.

Also it would be nice to have some generic mechanism which can be reused by plugins.

[2016-12-07 20:14] DelazJ commented on #11
@SrNetoChan

Give a look to the Settings --> Options dialog in which you have [mActionFileOpen](https://github.com/qgis/QGIS/blob/master/images/themes/default/mActionFileOpen.svg) used to browse folder. I don't find that weird personally.
I even wonder if it'd better fit the processing algs (in which `...` is used) than a textual button like "Browse" or else

[2016-12-07 21:13] SrNetoChan commented on #11
AFAIK, the reason why ...  Is used many times in processing is because many times it points to several options.

Anyway, I will have a look

[2016-12-07 22:06] DelazJ commented on #14
@nyalldawson, Any idea on why we have both [mIconExpression](https://github.com/qgis/QGIS/tree/master/images/themes/default/mIconExpression.svg) and [mIconExpressionEditorOpen](https://github.com/qgis/QGIS/tree/master/images/themes/default/mIconExpressionEditorOpen.svg)? what would be the difference ?

[2016-12-07 23:10] nyalldawson commented on #14
@DelazJ I the believe one with '...' is supposed to be used for buttons or other actions which open a new expression builder dialog. The other is a generic icon to be used to show that something is set to an expression.
Possible the '...' one is redundant, since we don't use '...' in other button icons (eg the projection selector combobox button). @dakcarto looks like you introduced some of these,

[2016-12-09 10:53] DelazJ commented on #12
Fixed

[2016-12-09 10:53] #12 closed, assigned to SrNetoChan

[2016-12-11 01:22] SrNetoChan opened #18 "Dialogs quality problems and consistency: add, remove,edit buttons position in tables"
For consistency, and for users intuition, table/list elements in dialigs should have their support buttons always in the same place.

Several dialogs have table where you can add, remove, edit, etc... rows or elements to it.

In some cases, the support buttons are located on the right side of the table:
![screenshot from 2016-12-11 00-59-59](https://cloud.githubusercontent.com/assets/3607161/21077

[2016-12-13 15:03] sveinki opened #19 "Typos and inconsistencies in source texts"
Hi,

I've been noting down some of the errors my spellcheckers throw at me during translation work on QGIS.
(I use several gettext-based applications to beef up productivity, so I do convert the .ts with 'lupdate' back and forth. This allows me to use better spellchecking systems, both on source and translated strings.)

I think most of them should be corrected, and some may need some discussion.

[2016-12-13 15:07] sveinki commented on #13
Some such inconsistencies are mentioned in an issue I just posted here: #19

[2016-12-14 00:36] nyalldawson commented on #19
Is this on master? Favourite should have been fixed as of about a month ago.

Great list by the way!

[2016-12-14 00:37] nyalldawson commented on #19
Just a note that any pr which fixes these should also make corresponding changes to https://github.com/qgis/QGIS/blob/master/scripts/spelling.dat to avoid the bad strings being reintroduced in future.

[2016-12-14 10:05] sveinki commented on #19
Niall, this was taken from the actual .ts file on Transifex two days ago, and then updated this morning.

[2016-12-14 10:06] sveinki commented on #19
Here come my observations for the second half of the file:

- [x] "Granulatiry at which to sample the terrain" --> "Granularity".
- [x] "cancelling" --> "canceling". Both variants may exist, but en_US spellchecking throws an error.
- [x] "Import cancelled." --> "canceled".
- [x] Similar for "labelling" --> "labeling".
- [ ] Occurrences of 'Douglas-Peucker', 'Douglas Peucker' and 'Peucker Douglas'

[2016-12-14 10:13] sveinki commented on #19
We can split the observations into categories:

i) Plain typographic errors
ii) Stylistic/represenative inconsistencies
iii) Language variant non-conformity (en_US vs. en_UK)
iv) Grammar errors

and maybe more...

[2016-12-16 01:05] SrNetoChan opened #20 "Processing algorithms fail to give a proper name to output layers"
When finished processing, some algorithms fail to give a proper name to the output files that are loaded in the map canvas, even if the user choose to save the output to a file. But other seem to work well.

It would be nice to hunt down this kind of algorithms as introduce this missing functionality.

Extra: for output saved in memory, it would be nice to add someking of suffix, to avoid repeat l

[2016-12-16 01:06] SrNetoChan commented on #20
@alexbruy, am I missing something here?

[2016-12-16 06:31] pcav commented on #20
Agreed with the last point (adding a serial to layer name), I think this is useful for all types of layers.

[2016-12-16 13:13] DelazJ commented on #14
Trying to add icons where they should be, I'm looking for good practices. Sometimes, same change in two different files do not have same result (icon shown in one and not in the other one).
Given the description of a qtoolbutton (questions concern also qpusbutton) below which I'd like to only show an icon:
* should the property `text` be kept ? with its `...` value?
* should this line `<iconset re

[2016-12-16 13:44] rduivenvoorde commented on #18
I second this issue :-)

We should have some 'guidelines' on how a dialog or the widgets in them should be placed...
Can we need steal some HI-guidelines (Human Interface Guidelines: HIG) from other project/products @anitagraser didn't you have an example of this? I googled: https://developer.gnome.org/hig/stable/

Another point which itches me in dialogs is all the different 'search' possibilites

[2016-12-16 14:05] SrNetoChan commented on #18
@rduivenvoorde I agree that a new issue is preferable.

[2016-12-17 12:04] anitagraser commented on #18
Thanks for raising this issue! I'll have a look around for existing guidelines / implementations.

While working to unify the placement, we should also check the corresponding widget to see if there is a right-click to remove function implemented.

[2016-12-17 12:15] anitagraser commented on #20
If the users did chose a file name, I think the file name should always be used in the layer list - irrespective of the "use filename as layer name" option in the settings.

We could even drop the "use filename as layer name" option. Behavior would be:

If temporary file path is used --> use algorithm default output layer name
If user-defined path is used --> use filename

[2016-12-20 10:11] SrNetoChan commented on #20
@anitagraser I don't mind having that option, as long as is set as default.

Not sure why someone would want to not use the filename as layer name, but there might be som user case.

[2016-12-20 10:19] SrNetoChan opened #21 "Widget's values are changed by mistake while scrolling dialogue with mouse wheel"
Most of our dialog's widgets can be controlled by the mouse wheel. While this can be useful, IMHO it's the origin of some undesired changes in settings, as when you try to scroll down the dialog it self, if the mouse stops over a widget it will change its values and the user might not see it.

I wonder if there is a way to avoid this. Would we need to disable mouse scrolling on widgets?

[2016-12-20 11:52] anitagraser commented on #20
Well, if you take the time to manually pick and write a file name, why wouldn't you want it as the layer name?

[2016-12-20 13:30] DelazJ commented on #19
Question: What are the folders to check or to avoid when tackling this issue?
* e.g, is the `/i18n` folder to be checked? Would a replacement of the source text directly in i18n folder avoid translators to redo the translation work (actually the translation is not wrong; it's simply a typo matter in the source - the translator is not faulty)? or would that break things?
* only the whole word or ev

[2016-12-20 21:35] DelazJ commented on #19
Actually, the fix was from a [coding perspective](https://github.com/qgis/QGIS/commit/bd950616ac35476aacf22d9db3b0c7b44ffccbbb). However, we still have:
- some occurrences of the functions containing _favourites_ that were replaced, eg QgsFavouritesItem in /tests/src/python/acceptable_missing_doc.py
- from a translator perspective, many "favourite(s)" occurrences in the [Changelog file](https://gi

[2016-12-20 22:45] sveinki commented on #19
Just seen the #3888; please concentrate on translatable strings, not the API or variable/function names or other programmable items.
The problem is about credibility; how an end-user views a product which isn't consistent in it's nomenclature.

[2016-12-20 23:31] tomchadwin opened #22 "Style panel: canvas doesn't update on load style with Auto-apply"
Or have I got this wrong, @NathanW2?

[2016-12-21 00:46] SrNetoChan commented on #22
Sorry @tomchadwin not sure if this is the appropriate place to report QGIS issues. the idea of this repo is to collect ideas for improvements in UI/UX. this sounds like a bug to me.

You better report it using the official bug tracker (I know, I know, I would prefer github as well)

[2016-12-21 07:41] tomchadwin commented on #22
I assumed anything which could improve UI/UX for QGIS3 was appropriate, possible bugs included. Never mind.

[2016-12-21 11:10] DelazJ commented on #19
Sorry @sveinki but I don't agree with you.
If only translatable strings matter, actually only English-speaking users would be concerned. When I translate strings, even if there's a typo in the source, I can guess what was meant and translate it the right way into my language so "my" end users are never aware of this error. No harm for QGIS from them.

I'd also prefer to see the big picture. Not on

[2016-12-22 08:54] tomchadwin opened #23 "Spacebar to pan, or equivalent"
In graphics software, I frequently use the feature of holding down the spacebar and dragging to pan. Having panning always so easily accessible is a huge benefit. Does any equivalent already exist in QGIS? If not, it would be a great addition, similar to the 'hide all panels' shortcut just added.

[2016-12-22 09:35] tomchadwin commented on #23
Already implemented - apologies!

[2016-12-22 09:35] #23 closed, assigned to nobody

[2016-12-22 17:49] tomchadwin opened #24 "Plugin Manager settings"
I believe mixing categories of plugins with the plugin manager settings menu item in the plugin manager left-hand menu implies equivalence. I think it makes the settings harder to find. Anyone agree?

[2016-12-22 18:26] DelazJ commented on #24
I do!
May be, we can keep it in the left hand band but not have it contiguous to categories; at the bottom of the menu instead (have a vertical spacer between Setting and categories)?

[2016-12-22 20:08] tomchadwin commented on #24
+1. A cog/gear would also help.

[2016-12-22 21:56] DelazJ commented on #24
cog/wear? 🙄

[2016-12-22 22:31] tomchadwin commented on #24
You know, common settings icon?

[2016-12-25 18:16] sveinki commented on #19
Well, the mechanism is working in Qt and in Transifex. If you look at the .ts file in a text editor, you can see for example this message in the French file:
`    <message numerus="yes">
        <location filename="../src/app/qgisapp.cpp" line="6376"/>
        <source>%n feature(s) deleted.</source>
        <comment>number of features deleted</comment>
        <translation>
            <numerusfor

[2016-12-26 10:19] DelazJ opened #25 "Add custom icons to Settings menus"
Could be nice to have different icons for the items in Settings menu (shortcut, customization and options) and add an icon to the Snapping one
![settings_shortcuts](https://cloud.githubusercontent.com/assets/7983394/21480396/ddb09918-cb5c-11e6-8525-fc73609425c9.PNG)

[2016-12-26 10:32] DelazJ opened #26 "Add DB Manager button directly under Database menu"
To launch the DB Manager from the menu, you need to click on Database menu --> DB Manager --> DB Manager.
Given that DB Manager (launcher) is the unique item of the DB Manager (folder), it makes sense imho to remove the folder step and have the launcher directly under Database menu.

![image](https://cloud.githubusercontent.com/assets/7983394/21480604/eb27936a-cb5e-11e6-9d03-bc963da1e3a4.png)

[2016-12-27 01:30] DelazJ commented on #24
sorry! I'd have checked my English dictionary. I thought it was an acronym for something like that
But isn't it already the case? The current icon looks like that except it's a bit coloured (like the other icons in the dialog btw)

[2016-12-29 01:26] DelazJ commented on #19
@sveinki I edited your list as task list (to ease the fix).
Would be nice to keep checking items that are already fixed or being fixed in a PR

[2016-12-29 13:04] DelazJ commented on #25
fixed in https://github.com/qgis/QGIS/pull/3916

[2016-12-29 13:04] #25 closed, assigned to nobody

[2016-12-30 15:18] DelazJ opened #27 "Avoid two "Vector" menus in localized QGIS"
This one is imho a major fail for Processing (replacing fTools) in QGIS when using a localized version. People do not realise that there are two entries Vector/tr("Vector") in the menus bar and then do not understand why they can't find their fTools functions
![vector_menus](https://cloud.githubusercontent.com/assets/7983394/21567251/110a75a8-ceab-11e6-823e-b0f08b494b5d.png)

[2017-01-09 00:44] nyalldawson commented on #2
@DelazJ sorry, mega delayed response.

Here's what I'm referring to. The standard layer picker includes an icon for the layer type (here it's a point geometry layer). The standard field picker shows icons for field types (the 'abc' icon here for a string field):
![screenshot from 2017-01-09 10-38-43](https://cloud.githubusercontent.com/assets/1829991/21755030/dd188a00-d657-11e6-8bdc-645c6dfb0f1a.p

[2017-01-09 15:29] DelazJ commented on #27
Seems that it was a translation issue. Fixed for french part with qgis/QGIS#3949

[2017-01-09 15:29] #27 closed, assigned to nobody

[2017-01-09 15:46] DelazJ commented on #2
@nyalldawson I'd finally found what it was about. Another item I could add to this is the data-defined widget. And I think the Layer's properties --> Diagrams tab is a good candidate for this issue, using simple combobox for data-defined options.
However, this seems to be more than simple replacement of widgets and I wonder if it's not already part of your grant proposal. Am I right?

[2017-01-09 16:13] DelazJ opened #28 "Constantly display a tooltip-like message for arrow symbol layer widget?"
When designing an arrow symbol, whatever option the mouse hovers over (and even when it's not a widget), there's a message (like a tooltip). It doesn't refer to any particular option but to the symbol layer type itself, but I wonder if we could find a better way to display this message.
![image](https://cloud.githubusercontent.com/assets/7983394/21772662/72a30706-d68c-11e6-8215-5827f4eae245.png)

[2017-01-09 22:57] nyalldawson commented on #2
Yes - that's a perfect example.

And yes - 100% correct. It's been addressed in this work and changed to the normal data defined widget which allows expressions/etc. Coming soon to master!

[2017-01-13 07:37] alexbruy commented on #15
PR which implements qgis/QGIS-Enhancement-Proposals#51 merged in master. So we can start with adopting docs, merging context help and linking them from QGIS

[2017-01-13 10:03] SrNetoChan commented on #15
@alexbruy Can you provide instructions on how to adopt the context help to point to Docs URL, for "normal" people like me?

@rduivenvoorde If I recall, you once mention having a list with all help buttons and which section in docs they should point to. Do you still have it?

Thanks

[2017-01-14 09:01] DelazJ commented on #15
@SrNetoChan

You might be looking for http://hub.qgis.org/wiki/quantum-gis/ContextHelp

[2017-01-16 10:20] 3nids commented on #19
We have a lot of `cancellation`, which should be switched to cancelation for consistency. Thoughts?

[2017-01-17 23:30] DelazJ opened #29 "The Evis Event browser dialog might need some love"
This dialog might need some love IMO (note that i'm not a Evis user):
* some options are too much verbose: what about using tooltip and shorter label?
* are the "remember this" options needed? Why not saving the setting by default?
* and all these "reset" buttons? I also wonder if the use of push buttons instead of tool buttons is the most appropriate.
* items alignment/spacing could also be impro

[2017-01-17 23:45] DelazJ commented on #2
@nyalldawson I've made replacement of comboboxes into QgsFieldComboBox or QgsMapLayerComboBox (couldn't find any possible replacement for the crs selector :-( ) but given that there are some c++ things to change to have them totally active (e.g., QGIS crashes when the spatial query plugin is launched) , I keep them in my branch http://github.com/DelazJ/QGIS/tree/nonstandardicons.
If someone wants

[2017-01-18 04:45] pcav commented on #29
Not quite sure this is worth the while, given that evis AFAIK will be removed.
Tab order is wrong in other dialogs, probably better concentrate on these.
Thanks.

[2017-01-18 06:40] DelazJ commented on #29
@pcav

I was not aware of this. Any discussion or issue report to point me to?

Not sure why you mention tab ordering as it's not an issue here but you may want to give a look to qgis/QGIS#4013

[2017-01-18 07:01] pcav commented on #29
Removing evis is a part of the general cleanup for Q3. I do not have a ref at hand now, but commit should be visible.
Sorry for misunderstanding the tab issue (I really should not work from the phone ;) ).

[2017-01-18 07:34] DelazJ commented on #29
No worries. Thanks. Closing.

[2017-01-18 10:21] DelazJ commented on #29
Actually, I found https://github.com/qgis/qgis3.0_api/issues/67 and http://osgeo-org.1560.x6.nabble.com/should-core-plugins-not-be-available-in-plugin-manager-tt5299556.html but none clearly claiming the removal of the plugin (but pythoning it and cleaning UI)

[2017-01-18 21:41] DelazJ commented on #2
Finally, I got one crs widget to replace :)

[2017-01-18 23:39] DelazJ opened #30 "Rotation widget: standardize the range of values"
The rotation widget sometimes allow values from 0-->360 and sometimes -180 --> 180.
It'd be nice to standardize this.
Which range of values should be promoted?

![rotation1](https://cloud.githubusercontent.com/assets/7983394/22087632/48baab6a-dddf-11e6-8f42-14bff414c1b8.png)
![rotation2](https://cloud.githubusercontent.com/assets/7983394/22087634/4a2b8ea6-dddf-11e6-80b5-d0f656d80341.png)

[2017-01-19 11:27] alexbruy commented on #15
@SrNetoChan you can look at qgis/QGIS#4023 for some examples.

[2017-01-30 12:17] DelazJ opened #31 "Get rid of "Symbology export" options in "Save vector layer as..." dialog?"
I read:
* http://osgeo-org.1560.x6.nabble.com/Symbology-Export-td5128094.html
* and http://osgeo-org.1560.x6.nabble.com/Symbology-export-in-save-as-feature-td5273140.html  (more recent)

but still can't figure out the need to keep these options as is.

[2017-01-31 00:15] nyalldawson opened #32 "Icon requests"
I thought it may be useful to start a thread for new icon requests or to flag bad icons or icons which don't conform to the QGIS style.

New icon requests:
- [x] composer maps: I require icons for "set to map canvas extent", "view extent in map canvas" and "set to map canvas scale" and "set canvas scale to map scale". I want to replace the giant text buttons used for these operations with icon but

[2017-02-01 06:54] nirvn commented on #18
Also present in several vector/raster renderer UI:
![untitled](https://cloud.githubusercontent.com/assets/1728657/22497632/a4b8624e-e885-11e6-8db9-d07791d03d5a.png)

![untitled1](https://cloud.githubusercontent.com/assets/1728657/22497652/c732652c-e885-11e6-84a5-d27768038012.png)

etc.

For the renderer UIs, since they are served in a narrow space, i.e. the style dock, stacking the control vertica

[2017-02-01 18:39] anitagraser commented on #18
If everything is stacked vertically, I'm a bit concerned about the total height of the panel. This is the panel now, in full screen on my HiDPI screen:

![style_panel_hidpi](https://cloud.githubusercontent.com/assets/590385/22520746/df38c7bc-e8b5-11e6-8506-a4f491fa09e6.PNG)

[2017-02-01 21:00] timlinux commented on #18
We should really collapse the layer rendering group by default too - on my low res MacBook it is a real space hog....

[2017-02-03 01:58] nirvn commented on #18
@anitagraser , in upcoming 3.0, I've updated the UI a bit to save (some) vertical space by moving the blending mode elements around a bit:
![untitled](https://cloud.githubusercontent.com/assets/1728657/22576578/e9ef9b2e-e9ee-11e6-8d64-78980fbb4d8a.png)

@timlinux , yeah I think it should too.

[2017-02-11 15:09] DelazJ commented on #15
@alexbruy I played a bit with the help system recently and It looks like that the current implementation is not as described above by @SrNetoChan. If I understand the behavior in qgis, doc fetching is based on the order of the "repo" set. The upper the source is, the earlier it's checked and if no result found, the source below is tested, and so on, regardless online vs offline or English vs local

[2017-02-11 15:14] DelazJ opened #33 "Missing help button in some dialogs"
With the help infrastructure directly fetching online doc (and getting rid of context help), it could be nice to resurrect/add help buttons to some dialogs (non-exhaustive list):

- [ ] Advanced Digitizing Panel *
- [x] Align Raster
- [ ] Annotations (text, html, svg, form)
- [ ] Attribute Table
- [x] Composer Manager
- [ ] Coordinate Capture Plugin
- [ ] Data Source Manager --> Browser *
- [ ] Da

[2017-02-12 18:49] DelazJ opened #34 "Status of "What's this?" button"
In Help menu, there's a "What's this" button. But I couldn't find any menu nor tool that I could question with it. Not sure this parameter is set, hence is it worth keeping this tool?

[2017-02-14 03:40] nyalldawson commented on #34
Kill it! I had a look a while back and I think only some of the core c++ plugins make use of this. I say it's of zero value and should go.

[2017-02-14 03:44] nyalldawson opened #35 "Advice for exposing running tasks"
This is more of an "ideas" thread then a specific issue.

If you check out https://www.youtube.com/watch?v=iBxR3wAn6qM, you'll see a screencast showing background saving of vector layers. The point was raised that the current approach of a progress bar in the status bar isn't very prominent and users may not be aware that the saving is happening in the background.

I'm after advice on how best to

[2017-03-02 15:47] DelazJ commented on #28
fixed in https://github.com/qgis/QGIS/commit/d2067379f3e46d9bbbd2c2ed0e3fb0ac6639eac3

[2017-03-02 15:47] #28 closed, assigned to nobody

[2017-03-02 16:34] DelazJ opened #36 "Apply always the same icon to the "Reset" action"
Throughout the application, the "Reset" command is associated with different icons and this should be standardize. Even if imho none of those used now is appropriate I think keeping a unique icon would be a nice step meanwhile.
![reset_evis](https://cloud.githubusercontent.com/assets/7983394/23516584/ebacd49c-ff6d-11e6-90a0-617ca3bab105.PNG)
![reset_options](https://cloud.githubusercontent.com/ass

[2017-03-06 22:39] nyalldawson commented on #36
Agreed! My preference would be something like the middle one.

I wonder - are all those reset buttons in Evis really needed?

[2017-03-06 23:25] DelazJ commented on #36
Yes, though it's the Undo icon, it's the nearest

I guess the same question could apply to all those "Remember this" checkbox. I've been questioned by this dialog few months ago (#29)

[2017-03-13 08:44] 3nids opened #37 "Rename advanced digitizing tools to CAD tools"
Advanced digitizing tools in QGIS (i.e. the dock, not the tool bar) is a port of the [CADinput](http://plugins.qgis.org/plugins/CadInput/) plugin to core.

It was decided to avoid the "CAD" phrasing to avoid confusion with existing plugins.

I would like to propose to change this and rename the dock to "CAD tools" for the following reasons:

1. It is the most accurate denomination
2. It is shorter

[2017-03-13 08:52] nyalldawson commented on #37
+1. All valid reasons.

[2017-03-13 09:52] yjacolin commented on #37
+1 also from me. It is confusing with the advanced digitizing map tools.

[2017-03-13 10:21] timlinux commented on #37
+1 from me

[2017-03-14 05:24] lbartoletti commented on #37
+1 from me. I take advantage of this survey to indicate that I will not develop my plugin (CADDigitize) for QGis 3 but integrate the elements directly into core. I have already started for some functions and a new class for the triangles (to finalize). This will make a less plugin on this subject.

[2017-03-14 05:32] nyalldawson commented on #37
@lbartoletti That's great news - your work pushing features upstream is very much appreciated!

[2017-03-14 07:46] pcav commented on #37
Great, thanks Loic. Looking forward to it.

[2017-03-15 06:45] DelazJ opened #38 "Inconsistent reshaping of the color selector dalog (due to color picker?)"
When the color picker widget is active it reshapes the dialog inconsistently:
* from the gradient color selector dialog: note the needless space at the bottom of the sample color frame and the resize of the color previewer
![image](https://cloud.githubusercontent.com/assets/7983394/23935879/fd8c658e-094e-11e7-9c84-56e72d615e2e.png)
* from the layer styling dialog: a lot of blank space --> you need

[2017-03-25 00:41] SrNetoChan commented on #37
Sorry about arriving late to the discussion.
I agree that having advanced digitizing panel and advanced digitizing toolbar is quite confusing. But, although for most of us recognize the term CAD tools, I think it's not that intuitive to most users, hence, IMHO, it is not such an accurate denomination.

I'm improving this tool documentation in the user's manual. And to me, it feels that it's all ab

[2017-04-04 08:46] anitagraser commented on #1
Related existing Redmine ticket: http://hub.qgis.org/issues/9451

[2017-04-04 11:11] shenriod commented on #1
A Gdoc has been created here to collect ideas on how to implement this idea: https://docs.google.com/document/d/1aMX9jOfl10q8oETRzOHSHnRpHCc7UJ1dDnCCq3VyTAY/edit?usp=sharing

[2017-05-24 10:55] DelazJ opened #39 "Vector Style: Reorganize point symbol layers options"
A proposal to reorder options provided in symbol layer dialog (the issue was mentioned in mailing list a while ago)- the idea is to group related parameters altogether

### Simple Marker/Font Marker
1. Font Family (for Font marker only)
1. Size
2. Fill
3. Stroke
4. Stroke Width
5. Stroke Style (for Simple marker only)
6. Join Style
7. Rotation
8. Offset
9. Anchor Point

### Ellipse Marker
1. Symbo

[2017-05-24 10:56] DelazJ opened #40 "Vector Style: Reorganize line symbol layers options"
A proposal to reorder options provided in symbol layer dialog. Looks like only Simple Line needs a refactoring
1. Stroke (instead of `Color` which is not used in any of the other dialogs)
4. Stroke Width
5. Stroke Style
8. Offset
6. Join Style
7. Cap Style
9. Use Custom dash pattern

I'm not really convinced by the placement of the Offset option....

[2017-05-24 10:56] DelazJ opened #41 "Vector Style: Reorganize polygon symbol layers options"
A proposal to reorder options provided in symbol layer dialog
### Simple Fill
1. Fill
1. Fill style
3. Stroke
4. Stroke Width
5. Stroke Style
6. Join Style
8. Offset

### SVG Fill
1. Texture width
1. Fill
3. Stroke
4. Stroke Width
5. Rotation
8. SVG Groups / Symbols

[2017-05-24 11:37] DelazJ commented on #21
Fixed in https://github.com/qgis/QGIS/commit/aad182fdc041bd5e83be5b2b399cae496826c008

[2017-05-24 11:37] #21 closed, assigned to nobody

[2017-06-02 08:24] rduivenvoorde commented on #41
@DelazJ hi H, testing gitter hooks

[2017-06-02 08:31] rduivenvoorde opened #42 "test"

[2017-06-08 14:24] DelazJ commented on #30
Fixed in https://github.com/qgis/QGIS/pull/4646

[2017-06-08 14:24] #30 closed, assigned to nobody

[2017-07-04 23:09] nyalldawson opened #43 "Inconsistent capitalization in dialog titles"
We mix and match capitalization styles in dialog titles across QGIS. This HIG gives no guidelines either (https://docs.qgis.org/testing/en/docs/developers_guide/hig.html).

We should:
1. Choose a standard
2. Document it in the HIG
3. Update existing dialogs to match

[2017-07-07 20:14] DelazJ commented on #43
Given that we often follow Qt, here are its rules: https://doc-snapshots.qt.io/qtcreator-extending/qtcreator-ui-text.html#ui-text-capitalization

[2017-07-07 23:15] nyalldawson commented on #43
+1 to following Qt.

I think we get tooltip capitalization wrong a lot too, and from that list I also believe we've got a few issues with combobox entries (which should be in title case)

[2017-07-09 14:32] #41 closed, assigned to nobody

[2017-07-09 14:33] DelazJ commented on #41
Implemented

[2017-07-09 14:34] DelazJ commented on #39
Implemented

[2017-07-09 14:34] #39 closed, assigned to nobody

[2017-07-23 12:54] anitagraser commented on #24
So far, "Settings" is now at the bottom of the menu and a cog symbol has been added.

Do you think a divider / vertical spacer is still needed?

[2017-07-23 12:56] anitagraser commented on #42
Hi Richard, could you close this, please?

[2017-07-23 12:57] anitagraser commented on #1
A first version is now implemented in master. Thanks to everyone involved in structuring ideas and requirements!

[2017-07-23 13:44] #42 closed, assigned to nobody

[2017-07-23 15:18] DelazJ commented on #42
@rduivenvoorde have you finally got success with linking this repo with gitter or any platform showing QGIS activities?

[2017-07-25 13:57] SrNetoChan commented on #36
How about using the icon used in the console to clear it. This way there would not be any confusion with the undo or the refresh.

![image](https://user-images.githubusercontent.com/3607161/28575633-6a73ff56-7149-11e7-971b-14add577a8c5.png)

[2017-07-26 10:35] SrNetoChan commented on #43
+1 to following Qt as well. Should we add this link to HIG? Or transcribe it?

[2017-07-26 22:31] nyalldawson commented on #43
I'd transcribe it.

[2017-07-26 22:53] nyalldawson opened #44 "Bad message box titles"
I noticed when flicking through https://github.com/qgis/QGIS/commit/8d4dec5c3f2ca6169a0f0b65413687a4625c2b44 that a lot of our message box titles are badly worded. E.g.
"The Layer Already Exists"
"The File Already Exists."
"Unable to Validate the Connection"

I think we need some explicit HIG guidelines about what should be used for messagebox titles. https://ux.stackexchange.com/questions/13683/w

[2017-07-27 09:20] DelazJ commented on #43
Agreed and I can see that it's @SrNetoChan choice...

[2017-07-30 09:11] DelazJ commented on #32
Given his (not so) recent message to lists about icons update, I wonder if @Cracert is aware of this issue report

[2017-07-31 06:39] SrNetoChan commented on #33
Regarding the "*" note, please notice https://github.com/qgis/QGIS/pull/4940

[2017-07-31 15:07] DelazJ commented on #33
The "What's this" icon is supposed to help question dialogs and its features and requires these description to be filled in the what's this parameter of the widget. I'm ok with its removal given the few places it's filled.
What I was thinking of is a help button like in the python console (from memory)

[2017-08-01 09:48] Cracert commented on #32
I was not. Thank you @DelazJ for pointing this out.

Could you please add me to QGIS GitHub project? I can't assign this issue to myself.

[2017-08-05 09:27] m-kuhn opened #45 "Status bar"
The status bar is still very crowded. I am in favour of reducing content there.

* Scale and coordinate are intuitive to understand without a title : remove the text
* Magnifier and Rotation can be replaced with an icon : remove the text and add an icon
* [ ] Render checkbox should be removed altogether

![screen shot 2017-08-05 at 11 23 35](https://user-images.githubusercontent.com/588407/2899453

[2017-08-05 09:55] 3nids commented on #45
+1 for the icons
-1000 for the render checkbox see http://osgeo-org.1560.x6.nabble.com/Dropping-the-quot-render-quot-checkbox-td5309784.html

[2017-08-05 21:17] Cracert commented on #45
Small icons (16x16px) are in pull request https://github.com/qgis/QGIS/pull/4972. Just graphic files, without integration with code.

@alexbruy:
How did you optimized SVG files? I used here this tool https://jakearchibald.github.io/svgomg/

[2017-08-06 09:04] jgrocha commented on #15
# Current status

## New context help

### C++
Looking for: `QgsHelp::openHelp(` on `*.h` and `*.cpp`

[code]
#### Usage results (34)

File | Documentation URL
--- | ---
|app/pluginmanager/qgspluginmanager.h|plugins/plugins.html#the-plugins-dialog|
|app/qgisapp.cpp|index.html|
|app/qgscustomprojectiondialog.h|working_with_projections/working_with_projections.html#custom-coordinate-reference-system

[2017-08-06 09:42] jgrocha commented on #15
### First script `checkdoclink.sh`

First attempt to create a script to check if all documentaion mentioned in the code exist...

[code]

[code]

[2017-08-06 11:25] DelazJ commented on #15
@jgrocha

`find . \( -name \*.h -o -name \*.cpp \) -exec grep -H "QgsHelp::openHelp(" \{\} \; | sed 's/:[^"]\+/\t/;s/" .\+$/"/' | sed 's/\.\/src\///' | sort | awk -F $'\t' '{print "|" $1 "|" $2 "|";}' | grep -v "||" | sed 's/"//g'`
Usage results (34)

When I think that i had spent hours to rebuild and check this list, i'm just full of frustration for ignoring this kind of cool commands. I definiti

[2017-08-06 11:26] DelazJ commented on #15
Ah... And Thanks !

[2017-08-06 11:58] jgrocha commented on #15
# Current status of the former Helpviewer (C++ usage)

[code]
### Usage (14 cases)

| File/Class |
| ----- |
|app/qgsfieldcalculator.h|
|providers/wfs/qgswfssourceselect.h|
|providers/wms/qgswmtsdimensions.h|
|providers/arcgisrest/qgsarcgisservicesourceselect.cpp|
|plugins/plugin_template/plugingui.cpp|
|gui/qgsnewhttpconnection.h|
|gui/qgssublayersdialog.h|
|gui/qgsprojectionselectiondialog.h|
|g

[2017-08-07 07:24] alexbruy commented on #45
@Cracert I have used [svgcleaner](https://github.com/RazrFalcon/svgcleaner) (algo has a [GUI version](https://github.com/RazrFalcon/svgcleaner-gui))

[2017-10-13 17:50] Gustry commented on #34
Let's close this issue

[2017-10-13 20:14] nyalldawson commented on #34
For reference - Qt 5.10 introduces a style hint which will allow us to hide the button from all dialogs automatically.

[2017-10-14 09:01] DelazJ opened #46 "Remove the unnecessary scrollbar added to effects dialog in Styling Panel"
Using the styling panel, the Effects Properties dialog adds a vertical scrollbar despite the whole properties already being shown. (note all the empty space at the bottom of the dialog)
![image](https://user-images.githubusercontent.com/7983394/31574363-cda10118-b0ce-11e7-9e32-02a7ea14b550.png)

[2017-10-14 09:50] rduivenvoorde opened #47 "Move 'old' overview to a default use of Multi canvas support"
See some discussion in this email thread:
https://lists.osgeo.org/pipermail/qgis-developer/2017-October/050132.html

Below a picture of a project with both the Overview Panel (bottom) and a Multimap renamed to 'Overview':

![2overviews](https://user-images.githubusercontent.com/731673/31574748-ece77abe-b0d5-11e7-9ea4-38629c6c5012.png)

[2017-10-14 11:39] rduivenvoorde opened #48 "Move 'Plugins/Install plugin from zip' to the 'Manage and install Plugins ' dialog"
I think installing a plugin from a local zip is not 'average' use. So I would prefer to move this away from the Plugins menu item to ... I don't know maybe in the dialog? Something like this:

![dialog](https://user-images.githubusercontent.com/731673/31575341-a8995d32-b0e4-11e7-9659-45dc96d18b33.png)

@alexbruy what do you think? Of was it a deliberate choice to make it an actual menu action

ps

[2017-10-14 11:43] rduivenvoorde commented on #47
Please add points which should be fixed before we have all functionality of the Overview Panel, from email thread:
- Remember we must also remove the ‘hide/show in overview’ menu actions for legend items. (Tim)
- Make the layer context menu entries work with multi canvas type overviews. (Nyall)
- Add the overview style navigation (it works the opposite to the
canvas navigation). (Nyall)

My take w

[2017-10-14 12:27] Gustry commented on #48
+1 for me. The dialog is called "Manage and install plugins", it makes more sense for me to have this option in there.

[2017-10-15 06:05] alexbruy commented on #48
@rduivenvoorde not sure this is a good UX to have an almost empty dialog page with just file selector on it.

[2017-10-15 09:41] rduivenvoorde commented on #48
![plugins install plugin from zip _126](https://user-images.githubusercontent.com/731673/31583460-c2847bc4-b19c-11e7-89db-ff6f5cf184d8.png)

@alexbruy, thanks for your comment. Yes maybe you are right. I started of (see screenshot above), and then realised that the 'buttons' on the right are actually tabs, so every 'tab' need a page...

One thing we could do is show the list of all plugins (like i

[2017-10-15 20:12] borysiasty commented on #48
@rduivenvoorde @alexbruy

I guess an empty page with the single button and a text explaining what it is for will be much better than a file dialog unexpectedly popping up. Most users won't install plugins from files, so a short explanation is justified.

I also considered embedding the file dialog into the page, but it would look a bit weird and unexpected I guess...

Regarding the last option wit

[2017-10-15 23:34] borysiasty commented on #48
@rduivenvoorde @alexbruy something like that:

https://github.com/qgis/QGIS/pull/5372

What do you think? Of course the text might be better and especially longer - I'm not good in waffling :)

[2017-10-15 23:46] borysiasty commented on #24
As the menu is just a QListWidget, there is no possibility to lower the Settings item to the bottom. We only can put a spacer. After little tweaking the spacer height (a bigger looks better but... like a hidden/broken item) I made something like that: https://github.com/qgis/QGIS/pull/5372

@anitagraser @tomchadwin @DelazJ

[2017-10-16 21:41] borysiasty commented on #48
@rduivenvoorde - ok I can reproduce the bug you reported. Will look at it.

[2017-10-17 06:04] rduivenvoorde commented on #48
@borysiasty I'm good in waffling :-) But I'm also afraid to do things others would not like ... Maybe taking too small steps :-(
Thanks for having a look into the update/tab issue too!

[2017-10-17 10:11] borysiasty commented on #48
@rduivenvoorde: who could protest agains filling the ugly empty space with a long text that nobody is going to read? :) For translators it's a pleasant break between all the untranslateable compact and meaningful phrases.

Anyway, for now I've merged it, so you can close the ticket I guess.

[2017-10-17 10:13] borysiasty commented on #24
Now it's merged. Can we close the ticket?

[2017-10-17 10:24] DelazJ commented on #48
Thanks @borysiasty

[2017-10-17 10:24] #48 closed, assigned to nobody

[2017-10-20 21:46] borysiasty commented on #24
Ok, so now it's reverted ;p

[2017-10-27 13:02] m-kuhn opened #49 "Add layer dialog, duplicated layers"
Within the new add layer dialog, if a user selects a layer, clicks add to add it and then closes the dialog with Ok, he will have the layer twice in the project. Tested with postgis.
Once the layer is added on "Add", once on "Ok".

Either the selection should be cleared when "Add" is clicked.
Or "Ok" should do nothing except for closing the dialog.

cc @elpaso

[2017-10-27 13:16] elpaso commented on #49
There has been long a discussion about this (and I'm also not a fan of the current implementation), the "Add" button was added because you might want to add something without closing the window, it is really an "Apply" button, previously there was a [x] "do not close this dialog" in most of the source selects.

What we really want here is:
- Add
- Add and close (currently: Ok)
- Close (currently m

[2017-10-27 13:17] elpaso commented on #49
Btw, duplicated layers is something that you might intentionally want. We just miss the standard "Close/Cancel" button.

[2017-10-27 13:23] luipir commented on #49
+1 to:
1) reintroduce Cancel/close button
2) rename Ok button with "add and close"
3) maintain Add button

[2017-10-27 13:28] elpaso commented on #49
@luipir that would really waste too much of the already limited horizontal space.
What I would not want to do is to add a second row of buttons.

[2017-10-27 13:32] luipir commented on #49
@elpaso just leave the close using the upper right X corner button? reformulating:
1)No close button but close only using widget close
2) rename Ok button with "add and close"
3) maintain Add button

[2017-10-27 13:45] SrNetoChan commented on #49
I agree that, if we really want to maintain the Button to add the selected layer and close the dialog (saving one click), we should rename the "Ok" button to "Add and Close". IMHO it is not intuitive that Ok would add a layer.

But I agree that a Close button is missing. Advanced user will use ESC key, but others, after clicking Add, having to go all the way to the top of the dialog for the X butt

[2017-10-27 13:56] m-kuhn commented on #49
What about just unselecting the layers on clicking "Add" + have some kind of visual feedback that "something happened" directly on the dialog?
+ have "Ok" (Or "Add and Close") and "Close" next to it.

[2017-10-27 14:10] dakcarto commented on #49
@luipir wrote (extra capitalization by me):

+1 for this setup

[2017-10-27 14:16] rduivenvoorde commented on #49
Issue about this: https://issues.qgis.org/issues/17292

[2017-10-27 14:17] luipir commented on #49
@m-kuhn -1 I would/could expect to have the same state selection when reopening the GUI. If no selection state is saved, can be a good feature add

[2017-10-27 14:19] m-kuhn commented on #49
why would you want this?

[2017-10-27 14:24] dakcarto commented on #49
@m-kuhn wrote:

This is the current functionality. The last selected 'tab' is reselected on reopening of the dialog. This seems like appropriate behavior to me, and should be maintained (assuming this is what @luipir is referring to).

Or, do you mean deselect any selected layers _within_ a particular widget, e.g. multiple layers in a PostGIS dialog are deselected once added?

[2017-10-27 14:25] luipir commented on #49
1) why not?
2) imagine to have a lot of layers in a geopackage, I would espect to reopening with the same view and selection I had in the previous visualization => e.g to select the next in the list

[2017-10-27 14:32] m-kuhn commented on #49
Exactly, once I added a layer I either want to add another layer (that I forgot before) or close. And for the few times I want to add a layer twice, I can do that with a tiny bit of extra effort.

I cannot see much value in preserving the selection after having the layers added, there's nothing else I can use this selection for AFAIK.

[2017-10-27 14:43] rduivenvoorde commented on #49
@m-kuhn: wait till you work with wfs and wms servers with >300 layers... and have to add some (I do this pretty often) :-)
AND do not have an easy search in the old dialog (I know there is in the browser...)

I do not want myself make hated, but should we not make a broader discussion about our Buttons in general: looking into these dialogs every sub type has it's own buttons (some use 'filter' so

[2017-10-27 14:47] m-kuhn commented on #49
I'm not sure I can follow. You do what pretty often? Adding the same layer several times?

Let's keep things well separated, I guess that's another feature request :)

[2017-10-27 15:00] DelazJ commented on #49
@m-kuhn

Agreed. Fall in the Add/OK trap many times.
And if someone needs to double a particular layer presence, do not forget that we still have a duplicate layer button in the Layers panel.

@rduivenvoorde If I'm not wrong, this Datasource Manager is a first sketch of a global and ongoing work for the "One button to rule them all". I don't say that we shouldn't discuss and fix what needs to be b

[2017-10-27 20:47] gioman commented on #49
+1

[2017-10-27 22:19] DelazJ commented on #49
rename Ok button with "add and close"
maintain Add button

If lack of place is the issue at the bottom of this dialog, i'm afraid that this proposal doesn't solve it because of more buttons and more letters. And for reference "add and close" becomes "Ajouter et fermer" in french: a bit longer (unless we have two rows of buttons - ugly imho)

[2017-10-27 22:26] m-kuhn commented on #49
Can I reraise the question for the usecase to keep entries selected after adding them?
I think I am missing something obvious.

[2017-11-03 09:27] DelazJ commented on #32
Some fixes in https://github.com/qgis/QGIS/pull/5262

[2017-11-04 16:08] DelazJ commented on #31
pull request proposed at https://github.com/qgis/QGIS/pull/5473

[2017-11-04 23:20] DelazJ commented on #15
Closing... as context helps have been removed from repo and despite the numerous missing "connected help buttons"

[2017-11-04 23:20] #15 closed, assigned to nobody

[2017-11-16 15:26] DelazJ commented on #49
fixed in https://github.com/qgis/QGIS/pull/5616

[2017-11-16 15:26] #49 closed, assigned to nobody

[2017-11-16 17:07] DelazJ commented on #6
seems to have been partially fixed (a blank page). No text displayed but still better than the crowded dialog

[2017-11-16 17:07] #6 closed, assigned to nobody

[2017-12-15 11:16] DelazJ opened #50 "New sequence of Options dialog?"
Trying to find an order for the vector layer properties dialog tabs. This is based on what I often use, trying to "group" features that  somehow look alike, and what I think "**_average users_**" (don't know who they are! so assimilate them to myself 😄  ) will be looking for:

1. General
2. System
3. ~~Data Sources~~ CRS
4. ~~Rendering~~ Data Sources
5. ~~Colors~~ (_I would be interested in includ

[2017-12-15 11:16] DelazJ opened #51 "New sequence of Vector layer properties dialog?"
Trying to find an order for the vector layer properties dialog tabs. This is based on what I often use, trying to "group" features that somehow look alike, and what I think "**_average users_**" (don't know who they are! so assimilate them to myself 😄  ) will be looking for:

1. Information
2. Source
3. ~~Metadata~~ Symbology
4. ~~Symbology~~ Labels
5. ~~Labels~~ Diagrams
6. 3D View
7.  Fields
8.

[2017-12-15 11:33] Gustry commented on #51
+1 for me. I totally agree that styling, labeling must be on top.
Will you do the same for the raster dialog? (but metadata more or less at the same place)

[2018-01-05 10:17] #51 closed, assigned to nobody

[2018-01-05 10:20] DelazJ commented on #31
Fixed. Requires gdal>=2.3

[2018-01-05 10:20] #31 closed, assigned to nobody

[2018-02-17 15:46] #50 closed, assigned to nobody

[2018-02-26 06:51] DelazJ commented on #3
Fixed in https://github.com/qgis/QGIS/pull/5895

[2018-02-26 06:51] #3 closed, assigned to nobody

[2018-03-23 11:55] sveinki commented on #19
Well, correcting capitalization is not even finished when someone starts adding new ambiguities; found this in the TS-file:
[code]

QGIS is supposed to be capitalized, right?

Edit: looks like the string is in  _QGIS/python/plugins/db_manager/db_plugins/oracle/info_model.py_

[2018-05-16 05:34] DelazJ commented on #26
Fixed in https://github.com/qgis/QGIS/pull/7003

[2018-05-16 05:34] #26 closed, assigned to nobody

[2018-05-30 13:15] DelazJ commented on #38
Fixed in https://github.com/qgis/QGIS/pull/5371

[2018-05-30 13:15] #38 closed, assigned to nobody

[2018-05-30 13:38] DelazJ commented on #22
What's the status of this issue?

[2021-07-18 17:13] DelazJ commented on #29
eVIS has finally gone

[2021-07-18 17:13] #29 closed, assigned to nobody

[2021-07-18 17:26] DelazJ commented on #9
Implemented in qgis/QGIS#9620 and many others

[2021-07-18 17:26] #9 closed, assigned to nobody

[2021-07-18 20:03] DelazJ commented on #46
Fixed afaict

[2021-07-18 20:03] #46 closed, assigned to nobody